@model ProyectoWeb_Martes.Entidades.Usuario

@{
  ViewBag.Title = "RegistrarUsuario";
  Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="container">
  <div class="row justify-content-center" style="margin-top:5%">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-3 d-none d-lg-block"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h3 class="h4 text-gray-900 mb-4">Registrar Usuario</h3>
                </div>

                @using (Html.BeginForm("RegistrarUsuario", "Inicio"))
                {
                  <div class="form-group">
                    @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control form-control-user", @placeholder = "Identificación", @onkeyup = "ConsultarNombre()" })
                  </div>
                  <div class="form-group">
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-user", @placeholder = "Nombre", @readonly = "true" })
                  </div>
                  <div class="form-group">
                    @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control form-control-user", @placeholder = "Correo Electrónico", @type = "Email" })
                  </div>
                  <div class="form-group">
                    @Html.PasswordFor(m => m.Contrasenna, new { @class = "form-control form-control-user", @placeholder = "Contraseña" })
                  </div>

                  <input type="submit" class="btn btn-primary btn-user btn-block" value="Procesar">
                }

                <hr>
                <div class="text-center">
                  <a class="small" href="@Url.Action("RecuperarAcceso","Inicio")">Recuperar acceso</a>
                </div>
                <div class="text-center">
                  <a class="small" href="@Url.Action("IniciarSesion","Inicio")">Iniciar Sesión</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/Estilos/js/RegistroUsuarios.js"></script>